// Variables
// --------------------------

$ts-font-path:         "../fonts" !default;
$ts-font-size-base:    16px !default;
$ts-font-display:      block !default;
$ts-css-prefix:        ts !default;
$ts-version:           "0.4.2" !default;
$ts-border-color:      #eee !default;
$ts-inverse:           #fff !default;
$ts-li-width:          2em !default;
$ts-fw-width:          (20em / 16);
$ts-primary-opacity:   1 !default;
$ts-secondary-opacity: .4 !default;

// Convenience function used to set content property
@function ts-content($ts-var) {
  @return unquote("\"#{ $ts-var }\"");
}

$ts-var-asd: \e900; // ASD
$ts-var-activity: \e344; // Activity
$ts-var-add-expression: \e348; // AddExpression
$ts-var-add-participant: \e131; // AddParticipant
$ts-var-add-text: \e427; // AddText
$ts-var-agent-certification: \e623; // AgentCertification
$ts-var-alert: \e625; // Alert
$ts-var-alert-off: \e626; // AlertOff
$ts-var-alert-off-status: \e627; // AlertOffStatus
$ts-var-announcement: \e62b; // Announcement
$ts-var-approval: \e949; // Approval
$ts-var-archive: \e972; // Archive
$ts-var-at: \e902; // At
$ts-var-auto-topup: \e50b; // AutoTopup
$ts-var-avatar-bot-certified: \f121; // AvatarBotCertified
$ts-var-avatar-bot-certified-stroke: \f120; // AvatarBotCertifiedStroke
$ts-var-avatar-bot-mask: \f11e; // AvatarBotMask
$ts-var-avatar-bot-mask-inversed: \f11f; // AvatarBotMaskInversed
$ts-var-avatar-bot-mask-with-presence: \f123; // AvatarBotMaskWithPresence
$ts-var-avatar-mask: \e21d; // AvatarMask
$ts-var-backspace: \e43f; // Backspace
$ts-var-badge: \e312; // Badge
$ts-var-badge-center: \e41d; // BadgeCenter
$ts-var-badge-m2: \e342; // BadgeM2
$ts-var-bing: \e015; // Bing
$ts-var-birthday: \e303; // Birthday
$ts-var-block-notification: \e20d; // BlockNotification
$ts-var-block-notification-large: \e20e; // BlockNotificationLarge
$ts-var-bluetooth: \e409; // Bluetooth
$ts-var-bluetooth-speaker: \e424; // BluetoothSpeaker
$ts-var-board: \e915; // Board
$ts-var-bold: \e931; // Bold
$ts-var-bookmark: \e901; // Bookmark
$ts-var-bot: \e21a; // Bot
$ts-var-bot-add: \e21b; // BotAdd
$ts-var-bot-add-s: \e21c; // BotAddS
$ts-var-bottom-left: \f702; // BottomLeft
$ts-var-bottom-right: \f701; // BottomRight
$ts-var-broken-broadcast: \e94a; // BrokenBroadcast
$ts-var-bug: \e913; // Bug
$ts-var-calendar: \e504; // Calendar
$ts-var-calendar-subscription: \e501; // CalendarSubscription
$ts-var-call-add: \e128; // CallAdd
$ts-var-call-anim-small-1: \e705; // CallAnimSmall1
$ts-var-call-anim-small-2: \e706; // CallAnimSmall2
$ts-var-call-anim-small-3: \e707; // CallAnimSmall3
$ts-var-call-anim-small-4: \e708; // CallAnimSmall4
$ts-var-call-blocked: \e110; // CallBlocked
$ts-var-call-disabled: \e117; // CallDisabled
$ts-var-call-disabled-status: \e12a; // CallDisabledStatus
$ts-var-call-end: \e101; // CallEnd
$ts-var-call-error: \e111; // CallError
$ts-var-call-forward: \e112; // CallForward
$ts-var-call-in: \e10e; // CallIn
$ts-var-call-missed: \e10d; // CallMissed
$ts-var-call-missed-centered: \e21f; // CallMissedCentered
$ts-var-call-ok: \e129; // CallOk
$ts-var-call-out: \e10f; // CallOut
$ts-var-call-quality-indicator: \e12c; // CallQualityIndicator
$ts-var-call-reverse: \e11c; // CallReverse
$ts-var-call-start: \e100; // CallStart
$ts-var-call-start-big: \e130; // CallStartBig
$ts-var-call-transfer: \e11d; // CallTransfer
$ts-var-caller-id: \e114; // CallerID
$ts-var-camera: \e40c; // Camera
$ts-var-cancel: \e413; // Cancel
$ts-var-change: \e919; // Change
$ts-var-channel-follow: \e990; // ChannelFollow
$ts-var-channel-unfollow: \e991; // ChannelUnfollow
$ts-var-chat-deleted: \e322; // ChatDeleted
$ts-var-chat-favourite: \e330; // ChatFavourite
$ts-var-chat-filter: \e32f; // ChatFilter
$ts-var-chat-off: \e31d; // ChatOff
$ts-var-chat-ok: \e31c; // ChatOk
$ts-var-chevron-down: \e41e; // ChevronDown
$ts-var-chevron-left: \e420; // ChevronLeft
$ts-var-chevron-med-down: \e447; // ChevronMedDown
$ts-var-chevron-med-left: \e448; // ChevronMedLeft
$ts-var-chevron-med-right: \e449; // ChevronMedRight
$ts-var-chevron-med-up: \e44a; // ChevronMedUp
$ts-var-chevron-right: \e421; // ChevronRight
$ts-var-chevron-small-down: \e44b; // ChevronSmallDown
$ts-var-chevron-small-left: \e44c; // ChevronSmallLeft
$ts-var-chevron-small-right: \e44d; // ChevronSmallRight
$ts-var-chevron-small-up: \e44e; // ChevronSmallUp
$ts-var-chevron-up: \e41f; // ChevronUp
$ts-var-chrome-close: \e8bb; // ChromeClose
$ts-var-chrome-maximize: \e922; // ChromeMaximize
$ts-var-chrome-minimize: \e921; // ChromeMinimize
$ts-var-chrome-restore: \e923; // ChromeRestore
$ts-var-circle-big: \f100; // CircleBig
$ts-var-circle-small: \e310; // CircleSmall
$ts-var-click: \e95f; // Click
$ts-var-clipboard: \e920; // Clipboard
$ts-var-clippy: \e124; // Clippy
$ts-var-cloud-download: \e94c; // CloudDownload
$ts-var-code-snippet: \e93a; // CodeSnippet
$ts-var-collapse: \e94d; // Collapse
$ts-var-connectors: \e221; // Connectors
$ts-var-contact: \e200; // Contact
$ts-var-contact-add: \e201; // ContactAdd
$ts-var-contact-blocked: \e205; // ContactBlocked
$ts-var-contact-bot: \f126; // ContactBot
$ts-var-contact-card: \e209; // ContactCard
$ts-var-contact-card-group: \e217; // ContactCardGroup
$ts-var-contact-delete: \e206; // ContactDelete
$ts-var-contact-group: \e20b; // ContactGroup
$ts-var-contact-group-add: \e20a; // ContactGroupAdd
$ts-var-contact-group-call: \e212; // ContactGroupCall
$ts-var-contact-group-delete: \e20c; // ContactGroupDelete
$ts-var-contact-group-ok: \e210; // ContactGroupOk
$ts-var-contact-group-pair: \e214; // ContactGroupPair
$ts-var-contact-group-pair-small: \e216; // ContactGroupPairSmall
$ts-var-contact-group-screenshare: \e213; // ContactGroupScreenshare
$ts-var-contact-group-video: \e211; // ContactGroupVideo
$ts-var-contact-in: \e208; // ContactIn
$ts-var-contact-ok: \e202; // ContactOk
$ts-var-contact-pstn: \e219; // ContactPstn
$ts-var-contact-send: \e207; // ContactSend
$ts-var-contact-skype: \f125; // ContactSkype
$ts-var-contact-skypeout: \e218; // ContactSkypeOut
$ts-var-conversation-new: \e328; // ConversationNew
$ts-var-cortana-add-to-list: \f208; // CortanaAddToList
$ts-var-cortana-calendar: \f200; // CortanaCalendar
$ts-var-cortana-create-appointment: \f206; // CortanaCreateAppointment
$ts-var-cortana-create-reminder: \f205; // CortanaCreateReminder
$ts-var-cortana-list: \f209; // CortanaList
$ts-var-cortana-reminder: \f201; // CortanaReminder
$ts-var-cortana-reminder-person: \f202; // CortanaReminderPerson
$ts-var-cortana-reminder-place: \f204; // CortanaReminderPlace
$ts-var-cortana-reminder-time: \f203; // CortanaReminderTime
$ts-var-cortana-time: \f207; // CortanaTime
$ts-var-currency-dollar: \e5a2; // CurrencyDollar
$ts-var-currency-euro: \e5a3; // CurrencyEuro
$ts-var-currency-indian-rupee: \e5a8; // CurrencyIndianRupee
$ts-var-currency-israeli-sekel: \e5a6; // CurrencyIsraeliSekel
$ts-var-currency-saudi-riyal: \e5a7; // CurrencySaudiRiyal
$ts-var-currency-sterling: \e5a0; // CurrencySterling
$ts-var-currency-turkish-lira: \e5a5; // CurrencyTurkishLira
$ts-var-currency-yen: \e5a4; // CurrencyYen
$ts-var-delete: \e42b; // Delete
$ts-var-devices: \e61b; // Devices
$ts-var-dialpad: \e104; // Dialpad
$ts-var-dialpad-off: \e105; // DialpadOff
$ts-var-directions: \e509; // Directions
$ts-var-display: \e125; // Display
$ts-var-down: \e416; // Down
$ts-var-download: \e33c; // Download
$ts-var-download-arrow: \e452; // DownloadArrow
$ts-var-dropdown: \e435; // Dropdown
$ts-var-dropdown-icon-arrow: \e432; // DropdownIconArrow
$ts-var-dropdown-icon-badge: \e431; // DropdownIconBadge
$ts-var-dropdown-icon-bg: \e430; // DropdownIconBg
$ts-var-dropdown-list: \e434; // DropdownList
$ts-var-dropdown-menu: \e43d; // DropdownMenu
$ts-var-e989: \e989; // E989
$ts-var-earpiece: \e423; // Earpiece
$ts-var-emoticon-stroke: \e30d; // EmoticonStroke
$ts-var-eraser: \e436; // Eraser
$ts-var-error: \e600; // Error
$ts-var-expand: \e94e; // Expand
$ts-var-extension: \e947; // Extension
$ts-var-favourite: \e113; // Favourite
$ts-var-favourite-on: \e40a; // FavouriteOn
$ts-var-feedback: \e442; // Feedback
$ts-var-feedback-20px: \e443; // Feedback20px
$ts-var-field-error: \e450; // FieldError
$ts-var-field-success: \e44f; // FieldSuccess
$ts-var-file: \e306; // File
$ts-var-file-add: \e983; // FileAdd
$ts-var-file-ae: \e96e; // FileAe
$ts-var-file-ai: \e969; // FileAi
$ts-var-file-audio: \e334; // FileAudio
$ts-var-file-blocked: \e973; // FileBlocked
$ts-var-file-code: \e970; // FileCode
$ts-var-file-deleted: \e31e; // FileDeleted
$ts-var-file-error: \e31f; // FileError
$ts-var-file-fl: \e96b; // FileFl
$ts-var-file-fw: \e96c; // FileFw
$ts-var-file-gif: \e337; // FileGif
$ts-var-file-id: \e96d; // FileId
$ts-var-file-in: \e307; // FileIn
$ts-var-file-multiple: \e31a; // FileMultiple
$ts-var-file-multiple-in: \e31b; // FileMultipleIn
$ts-var-file-out: \e308; // FileOut
$ts-var-file-pdf: \e335; // FilePdf
$ts-var-file-ps: \e96a; // FilePs
$ts-var-file-search: \e309; // FileSearch
$ts-var-file-send: \e971; // FileSend
$ts-var-file-sketch: \e96f; // FileSketch
$ts-var-file-text: \e33d; // FileText
$ts-var-file-video: \e333; // FileVideo
$ts-var-file-zip: \e336; // FileZip
$ts-var-filter: \e914; // Filter
$ts-var-fit-to-window: \e97f; // FitToWindow
$ts-var-flag: \e917; // Flag
$ts-var-flash: \e43b; // Flash
$ts-var-flash-off: \e43c; // FlashOff
$ts-var-folder: \e905; // Folder
$ts-var-folder-add: \e906; // FolderAdd
$ts-var-folder-down: \e909; // FolderDown
$ts-var-folder-find: \e907; // FolderFind
$ts-var-folder-up: \e908; // FolderUp
$ts-var-font-color: \e930; // FontColor
$ts-var-font-color-a: \e938; // FontColorA
$ts-var-font-color-underline: \e939; // FontColorUnderline
$ts-var-font-size: \e932; // FontSize
$ts-var-fork: \e984; // Fork
$ts-var-format: \e936; // Format
$ts-var-forward: \e12e; // Forward
$ts-var-forward-arrow: \e428; // ForwardArrow
$ts-var-forward-filled: \e429; // ForwardFilled
$ts-var-fullscreen: \e404; // Fullscreen
$ts-var-fullscreen-off: \e405; // FullscreenOff
$ts-var-gvc-focus: \e134; // GVCFocus
$ts-var-gvc-grid: \e136; // GVCGrid
$ts-var-gif: \e94b; // Gif
$ts-var-globe: \e505; // Globe
$ts-var-glossary: \e945; // Glossary
$ts-var-guest: \e985; // Guest
$ts-var-guest-add: \e986; // GuestAdd
$ts-var-happy: \e326; // Happy
$ts-var-hash: \e327; // Hash
$ts-var-headset: \e407; // Headset
$ts-var-headset-off: \e408; // HeadsetOff
$ts-var-heart: \e42e; // Heart
$ts-var-heart-broken: \e42f; // HeartBroken
$ts-var-heart-outline: \e441; // HeartOutline
$ts-var-hide: \e426; // Hide
$ts-var-highlight: \e934; // Highlight
$ts-var-highlights: \e135; // Highlights
$ts-var-home: \e608; // Home
$ts-var-host: \e604; // Host
$ts-var-host-off: \e614; // HostOff
$ts-var-host-off-status: \e615; // HostOffStatus
$ts-var-icon-skype: \e001; // IconSkype
$ts-var-icon-skype-bg-large: \e00c; // IconSkypeBgLarge
$ts-var-icon-skype-for-business: \e013; // IconSkypeForBusiness
$ts-var-icon-skype-for-business-bg-large: \e00f; // IconSkypeForBusinessBgLarge
$ts-var-icon-skype-for-business-glyph-large: \e010; // IconSkypeForBusinessGlyphLarge
$ts-var-icon-skype-for-business-large: \e00e; // IconSkypeForBusinessLarge
$ts-var-icon-skype-glyph-large: \e00d; // IconSkypeGlyphLarge
$ts-var-icon-skype-large: \e012; // IconSkypeLarge
$ts-var-illustration-angry: \e630; // IllustrationAngry
$ts-var-illustration-bigsmile: \e62e; // IllustrationBigsmile
$ts-var-illustration-calling: \e628; // IllustrationCalling
$ts-var-illustration-love: \e632; // IllustrationLove
$ts-var-illustration-monkey: \e633; // IllustrationMonkey
$ts-var-illustration-sad: \e631; // IllustrationSad
$ts-var-illustration-surprised: \e62d; // IllustrationSurprised
$ts-var-illustration-tmi: \e62f; // IllustrationTMI
$ts-var-info: \e602; // Info
$ts-var-info-circle: \e451; // InfoCircle
$ts-var-insert: \e948; // Insert
$ts-var-italics: \e918; // Italics
$ts-var-keyboard: \e32e; // Keyboard
$ts-var-landline: \e11e; // Landline
$ts-var-landline-add: \e118; // LandlineAdd
$ts-var-leave: \e220; // Leave
$ts-var-left: \e418; // Left
$ts-var-like: \e912; // Like
$ts-var-link: \e612; // Link
$ts-var-list-numbered: \e93b; // ListNumbered
$ts-var-location: \e610; // Location
$ts-var-logo-microsoft: \e002; // LogoMicrosoft
$ts-var-logo-skype-cloud-medium: \e005; // LogoSkypeCloudMedium
$ts-var-logo-skype-large: \e003; // LogoSkypeLarge
$ts-var-logo-skype-medium: \e004; // LogoSkypeMedium
$ts-var-logo-skype-small: \e011; // LogoSkypeSmall
$ts-var-logo-skype-text-medium: \e006; // LogoSkypeTextMedium
$ts-var-ms-excel: \e316; // MSExcel
$ts-var-ms-office: \e014; // MSOffice
$ts-var-ms-onedrive: \e00b; // MSOneDrive
$ts-var-ms-onenote: \e319; // MSOneNote
$ts-var-ms-outlook: \e009; // MSOutlook
$ts-var-ms-powerpoint: \e317; // MSPowerPoint
$ts-var-ms-visio: \e318; // MSVisio
$ts-var-ms-windows: \e008; // MSWindows
$ts-var-ms-word: \e315; // MSWord
$ts-var-ms-xbox: \e00a; // MSXBox
$ts-var-magic-wand: \e61c; // MagicWand
$ts-var-mail: \e411; // Mail
$ts-var-mask: \e952; // Mask
$ts-var-media: \e321; // Media
$ts-var-meet-now: \e911; // MeetNow
$ts-var-meeting: \e503; // Meeting
$ts-var-meeting-plus: \e50a; // MeetingPlus
$ts-var-menu: \e30c; // Menu
$ts-var-menu-center: \e41a; // MenuCenter
$ts-var-menu-list: \e30a; // MenuList
$ts-var-menu-list-with-badge: \e30b; // MenuListWithBadge
$ts-var-menu-with-badge: \e314; // MenuWithBadge
$ts-var-menu-with-badge-center: \e41b; // MenuWithBadgeCenter
$ts-var-merge-calls: \e108; // MergeCalls
$ts-var-message: \e300; // Message
$ts-var-message-m2: \e340; // MessageM2
$ts-var-message-question: \e33f; // MessageQuestion
$ts-var-message-rtl: \e345; // MessageRTL
$ts-var-message-read: \e32c; // MessageRead
$ts-var-message-unread: \e32b; // MessageUnread
$ts-var-message-with-badge: \e313; // MessageWithBadge
$ts-var-message-with-badge-center: \e41c; // MessageWithBadgeCenter
$ts-var-message-with-badge-m2: \e341; // MessageWithBadgeM2
$ts-var-message-with-badge-rtl: \e347; // MessageWithBadgeRTL
$ts-var-microphone: \e106; // Microphone
$ts-var-microphone-conference: \e61f; // MicrophoneConference
$ts-var-microphone-off: \e107; // MicrophoneOff
$ts-var-microphone-off-status: \e11a; // MicrophoneOffStatus
$ts-var-microphone-usb: \e61e; // MicrophoneUsb
$ts-var-microsoft-teams: \e016; // MicrosoftTeams
$ts-var-minus: \e414; // Minus
$ts-var-mobile: \e301; // Mobile
$ts-var-mobile-error: \e715; // MobileError
$ts-var-mobile-ok: \e712; // MobileOk
$ts-var-mobile-settings: \e713; // MobileSettings
$ts-var-mobile-sms: \e714; // MobileSms
$ts-var-moji: \f305; // Moji
$ts-var-moji-deleted: \f307; // MojiDeleted
$ts-var-moji-emoticon: \f303; // MojiEmoticon
$ts-var-moji-full-stroke: \f30a; // MojiFullStroke
$ts-var-moji-mask: \f127; // MojiMask
$ts-var-moji-mask-inverted: \f128; // MojiMaskInverted
$ts-var-moji-more: \f300; // MojiMore
$ts-var-moji-previous: \f309; // MojiPrevious
$ts-var-moji-recent: \f301; // MojiRecent
$ts-var-more: \e109; // More
$ts-var-more-filled: \e94f; // MoreFilled
$ts-var-more-vertical: \e325; // MoreVertical
$ts-var-move: \e437; // Move
$ts-var-movie: \e42a; // Movie
$ts-var-music: \e904; // Music
$ts-var-my-location: \e622; // MyLocation
$ts-var-navigation-back: \e425; // NavigationBack
$ts-var-navigation-back-centered: \e439; // NavigationBackCentered
$ts-var-navigation-close: \e440; // NavigationClose
$ts-var-navigation-forward: \e433; // NavigationForward
$ts-var-navigation-forward-centered: \e43a; // NavigationForwardCentered
$ts-var-network: \e903; // Network
$ts-var-notepad: \e951; // Notepad
$ts-var-notification: \e60e; // Notification
$ts-var-notification-off: \e60f; // NotificationOff
$ts-var-notification-stroke: \e629; // NotificationStroke
$ts-var-nudge: \e993; // Nudge
$ts-var-office: \e60c; // Office
$ts-var-ok: \e412; // Ok
$ts-var-open-folder: \e223; // OpenFolder
$ts-var-original-size: \e980; // OriginalSize
$ts-var-outline: \e941; // Outline
$ts-var-pstn-caller: \e988; // PSTNCaller
$ts-var-pause: \e40f; // Pause
$ts-var-pc-speakers: \e61d; // PcSpeakers
$ts-var-phone-address-book: \e204; // PhoneAddressBook
$ts-var-picture: \e422; // Picture
$ts-var-pin: \e617; // Pin
$ts-var-pin-blocked: \e709; // PinBlocked
$ts-var-pin-off: \e618; // PinOff
$ts-var-pin-off-status: \e619; // PinOffStatus
$ts-var-pinning: \e132; // Pinning
$ts-var-pinning-off: \e133; // PinningOff
$ts-var-planner: \e018; // Planner
$ts-var-play: \e40e; // Play
$ts-var-play-resume: \e43e; // PlayResume
$ts-var-plus: \e415; // Plus
$ts-var-poll: \e620; // Poll
$ts-var-power-bi: \e017; // PowerBI
$ts-var-presence-away: \f10a; // PresenceAway
$ts-var-presence-away-xs: \f103; // PresenceAwayXS
$ts-var-presence-away-xxs: \f106; // PresenceAwayXXS
$ts-var-presence-blocked: \f10c; // PresenceBlocked
$ts-var-presence-busy-xs: \f104; // PresenceBusyXS
$ts-var-presence-busy-xxs: \f107; // PresenceBusyXXS
$ts-var-presence-call-forward: \f10e; // PresenceCallForward
$ts-var-presence-dnd: \f10b; // PresenceDnd
$ts-var-presence-glyph-away: \f110; // PresenceGlyphAway
$ts-var-presence-glyph-away-12px: \f116; // PresenceGlyphAway12px
$ts-var-presence-glyph-call-forward: \f113; // PresenceGlyphCallForward
$ts-var-presence-glyph-call-forward-12px: \f119; // PresenceGlyphCallForward12px
$ts-var-presence-glyph-dnd: \f111; // PresenceGlyphDnd
$ts-var-presence-glyph-dnd-12px: \f117; // PresenceGlyphDnd12px
$ts-var-presence-glyph-mobile: \f11c; // PresenceGlyphMobile
$ts-var-presence-glyph-mobile-12px: \f11d; // PresenceGlyphMobile12px
$ts-var-presence-glyph-offline: \f114; // PresenceGlyphOffline
$ts-var-presence-glyph-offline-12px: \f11a; // PresenceGlyphOffline12px
$ts-var-presence-glyph-online: \f10f; // PresenceGlyphOnline
$ts-var-presence-glyph-online-12px: \f115; // PresenceGlyphOnline12px
$ts-var-presence-glyph-unknown: \f112; // PresenceGlyphUnknown
$ts-var-presence-glyph-unknown-12px: \f118; // PresenceGlyphUnknown12px
$ts-var-presence-glyph-unknown-12px-rtl: \f124; // PresenceGlyphUnknown12pxRTL
$ts-var-presence-mobile: \f11b; // PresenceMobile
$ts-var-presence-offline-xs: \f102; // PresenceOfflineXS
$ts-var-presence-offline-xxs: \f105; // PresenceOfflineXXS
$ts-var-presence-online: \f109; // PresenceOnline
$ts-var-presence-online-stroke: \f122; // PresenceOnlineStroke
$ts-var-presence-stroke: \f108; // PresenceStroke
$ts-var-presence-unknown: \f10d; // PresenceUnknown
$ts-var-presentation: \e12b; // Presentation
$ts-var-print: \e222; // Print
$ts-var-privacy: \e609; // Privacy
$ts-var-privacy-classification: \e994; // PrivacyClassification
$ts-var-progress: \e97d; // Progress
$ts-var-promote: \e954; // Promote
$ts-var-qr: \e21e; // QR
$ts-var-question: \e603; // Question
$ts-var-question-mark-filled: \e62c; // QuestionMarkFilled
$ts-var-question-rtl: \e606; // QuestionRTL
$ts-var-questionnaire: \e621; // Questionnaire
$ts-var-quick-look: \e329; // QuickLook
$ts-var-quote-close: \e320; // QuoteClose
$ts-var-quote-open: \e332; // QuoteOpen
$ts-var-recent: \e115; // Recent
$ts-var-recent-with-badge: \e338; // RecentWithBadge
$ts-var-refresh: \e605; // Refresh
$ts-var-reload: \e61a; // Reload
$ts-var-reply: \e30e; // Reply
$ts-var-rigel: \e981; // Rigel
$ts-var-rigel-add: \e982; // RigelAdd
$ts-var-right: \e419; // Right
$ts-var-rotate: \e940; // Rotate
$ts-var-sad: \e32a; // Sad
$ts-var-safari: \e624; // Safari
$ts-var-save: \e937; // Save
$ts-var-screen-capture: \e438; // ScreenCapture
$ts-var-screenshare: \e10a; // Screenshare
$ts-var-search: \e406; // Search
$ts-var-search-xl: \e446; // SearchXL
$ts-var-send: \e323; // Send
$ts-var-settings: \e60a; // Settings
$ts-var-settings-audio: \e616; // SettingsAudio
$ts-var-settings-skypeout: \e127; // SettingsSkypeOut
$ts-var-share: \e324; // Share
$ts-var-share-android: \e33e; // ShareAndroid
$ts-var-share-from: \e126; // ShareFrom
$ts-var-share-ios: \e122; // ShareIOS
$ts-var-share-stop: \e12f; // ShareStop
$ts-var-share-to: \e120; // ShareTo
$ts-var-share-to-tv: \e950; // ShareToTV
$ts-var-sharepoint: \e019; // Sharepoint
$ts-var-sharing: \e12d; // Sharing
$ts-var-sign-out: \e60d; // SignOut
$ts-var-signal: \e40b; // Signal
$ts-var-skype-address-book: \e203; // SkypeAddressBook
$ts-var-skype-credit: \e500; // SkypeCredit
$ts-var-skype-for-business: \f80c; // SkypeForBusiness
$ts-var-skype-manager: \e20f; // SkypeManager
$ts-var-skype-number: \e116; // SkypeNumber
$ts-var-skype-to-go: \e502; // SkypeToGo
$ts-var-skype-translator: \e331; // SkypeTranslator
$ts-var-star-in-circle: \e343; // StarInCircle
$ts-var-stickers: \e987; // Stickers
$ts-var-stop: \e410; // Stop
$ts-var-subscription-country: \e506; // SubscriptionCountry
$ts-var-subscription-region: \e507; // SubscriptionRegion
$ts-var-subscription-world: \e508; // SubscriptionWorld
$ts-var-swipe-all: \e95a; // SwipeAll
$ts-var-swipe-down: \e95c; // SwipeDown
$ts-var-swipe-left: \e958; // SwipeLeft
$ts-var-swipe-left-right: \e95d; // SwipeLeftRight
$ts-var-swipe-right: \e959; // SwipeRight
$ts-var-swipe-up: \e95b; // SwipeUp
$ts-var-swipe-up-down: \e95e; // SwipeUpDown
$ts-var-switch-camera: \e311; // SwitchCamera
$ts-var-tv: \e11f; // TV
$ts-var-tv-off: \e121; // TVOff
$ts-var-tab: \e137; // Tab
$ts-var-table: \e992; // Table
$ts-var-tap: \e957; // Tap
$ts-var-test-glyph: \f101; // TestGlyph
$ts-var-to-do: \e97e; // ToDo
$ts-var-to-do-list: \e953; // ToDoList
$ts-var-top-left: \f703; // TopLeft
$ts-var-top-right: \f700; // TopRight
$ts-var-topic: \e40d; // Topic
$ts-var-topup-history: \e50d; // TopupHistory
$ts-var-topup-history-background: \e50c; // TopupHistoryBackground
$ts-var-type: \e933; // Type
$ts-var-underline: \e935; // Underline
$ts-var-undo: \e32d; // Undo
$ts-var-up: \e417; // Up
$ts-var-user-video-off-status: \e11b; // UserVideoOffStatus
$ts-var-vi-m: \e339; // ViM
$ts-var-video: \e102; // Video
$ts-var-video-front: \e10b; // VideoFront
$ts-var-video-hd: \e607; // VideoHD
$ts-var-video-off: \e103; // VideoOff
$ts-var-video-off-status: \e119; // VideoOffStatus
$ts-var-video-rear: \e10c; // VideoRear
$ts-var-videomail: \e305; // Videomail
$ts-var-videomail-off-status: \e30f; // VideomailOffStatus
$ts-var-voicemail: \e304; // Voicemail
$ts-var-volume-max: \e400; // VolumeMax
$ts-var-volume-mid: \e401; // VolumeMid
$ts-var-volume-min: \e402; // VolumeMin
$ts-var-volume-off: \e403; // VolumeOff
$ts-var-wfh: \e916; // WFH
$ts-var-warning: \e601; // Warning
$ts-var-whobot: \e50f; // WhoBot
$ts-var-wifi: \e123; // Wifi
$ts-var-wiki: \e910; // Wiki
$ts-var-yo: \e946; // Yo
$ts-var-youtube: \e020; // YouTube
$ts-var-zoom-in: \e97b; // ZoomIn
$ts-var-zoom-out: \e97c; // ZoonOut
$ts-var-_215: \e215; // _215
$ts-var-_485: \e346; // _485
$ts-var-uni-e60b: \e60b; // uniE60B
$ts-var-uni-f800: \f800; // uniF800
$ts-var-uni-f801: \f801; // uniF801